<!-- <header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  </br>
    {%- unless page_titles == empty %}
      <nav>
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>
        <div class="nav-items">
            {% assign subindexes = site.pages | where_exp: "p", "p.name == 'index.md' and p.dir != '/'" %}
            {% for page in subindexes %}
                {% if page.title %}
                <a class="nav-item" href="{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a> |
                {% endif %}
            {% endfor %}
            </div>
      </nav>
    {%- endunless %}
  </div>
</header> -->