{% assign cleaned_categories = "" %}
{% for cat in page.categories %}

  {% assign clean_cat = cat | replace_regex: "^[0-9]+\\s*-\\s*", "" %}
  {% if clean_cat contains '-' %}
      {% assign parts = clean_cat | split: '-' %}
      {% assign clean_cat = parts[1] | strip %}
    {% endif %}
  {% assign clean_cat = clean_cat | replace: "_", " " %}
  {% assign clean_cat = clean_cat | downcase | capitalize %}

  {% if forloop.first %}
    {% assign cleaned_categories = clean_cat %}
  {% else %}
    {% assign cleaned_categories = cleaned_categories | append: " > " | append: clean_cat %}
  {% endif %}
{% endfor %}




<p class="post-categories">
  {{ cleaned_categories }}
</p>
{% assign last_category = page.categories | last %}
{% assign related_posts = site.posts | where_exp: "post", "post.categories contains last_category" %}
{% assign related_posts = related_posts | sort: "date" %}

{% if related_posts.size > 0 %}
  <ul class="related-posts">
    {% for post in related_posts %}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}