  {% assign this_category = page.categories[0] %}
{% assign sorted_posts = site.posts | where_exp:"p", "p.categories contains this_category" | sort:"date" %}
{% assign current_index = nil %}

{% for post in sorted_posts %}
  {% if post.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}
{% if sorted_posts.size > 1 %}
{% endif %}
{% assign next_index = current_index | plus: 1 %}
 {% if current_index != nil and sorted_posts.size > 1 %}
<nav class="pagination">
    <div>
    {% if current_index > 0 %}
    {% assign prev_index = current_index | minus: 1 %}
      {% assign prev_post = sorted_posts[prev_index] %}
      
        <p>Previous Story</p>
        <a class="prev" href="{{ prev_post.url | relative_url }}">{{ prev_post.title }}</a>
      
      
    {% endif %}
</div>
    
    {% if next_index < sorted_posts.size %}
      {% assign next_post = sorted_posts[next_index] %}
       <div>
        <p>Next Story</p>
         <a class="next" href="{{ next_post.url | relative_url }}">{{ next_post.title }}</a>
      </div>
     
    {% endif %}

</nav>

  {% endif %}