// Placeholder to allow overriding predefined variables smoothly.
$background-color-header: #BFAE48;
$link-base-color: #BFAE48;
$link-visited-color: #7b702b;
$link-hover-color: #7b702b;
$post-header-color: #2F4052;