---
layout: page

---
{% assign team_members = site.characters | where_exp: "c", "c.team contains page.team" %}

{% if team_members != empty %}
  <p><strong>Current members</strong></p>
  <ul class="post-list">
    {% for character in team_members %}
      <li>
        <a href="{{ site.baseurl }}{{ character.url }}">
          {{ character.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{{content}}

<h2>Adventures</h2>
<article class="post">
  
  {% assign team_posts = site.categories[page.main_category] %}

  {% comment %}
  Build a list of unique subcategories by collecting all categories excluding main_category
  {% endcomment %}
  {% assign subcategories = "" | split: "" %}

  {% for post in team_posts %}
    {% for cat in post.categories %}
      {% unless cat == page.main_category %}
        {% unless subcategories contains cat %}
          {% assign subcategories = subcategories | push: cat %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endfor %}

  {% assign subcategories = subcategories | sort %}

  {% comment %}
  Output posts grouped by subcategory
  {% endcomment %}
  {% for subcat in subcategories %}
  <h3>{{ subcat | replace: "session", "Session " }}</h3>

  <ul class="post-list">
    {% assign sorted_team_posts = team_posts | sort: "date" %}
    {% for post in sorted_team_posts %}
      {% if post.categories contains subcat %}
        <li>
        
          <span class="post-meta">{{ post.date | date: "%d %B %Y"}}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

        
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
        
      {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</article>